@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-r-aside {
    border-right: 1px solid var(--tw-text-opacity);
  }
  .border-aside {
    border: 1px solid var(--tw-text-opacity);
  }

  .border-primary {
    border: 0.0625rem solid var(--color-primary);
  }

  .bg-notification-wrapper {
    background: #dde8ff;
  }

  .tide-box-shadow {
    box-shadow: 0 4px 14px #0000001a;
  }

  .text-color-link-standard {
    color: var(--color-primary);
  }

  .text-color-secondary {
    color: var(--color-secondary);
  }
  .text-color-standard {
    color: var(--toastify-text-color-standard);
  }

  .bg-primary {
    background: var(--color-primary);
  }

  .text-color-tertiary {
    color: var(--toastify-text-color-light);
  }

  .color-gray-svg {
    color: rgb(144, 149, 162);
  }

  .text-mat-sidenav-content-text-color {
    color: var(--mat-sidenav-content-text-color);
  }

  .bg-color-main-background {
    background: rgb(240, 244, 255);
  }

  .text-color-primary {
    color: var(--color-primary);
  }

  .accordion {
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    width: 26px;
    height: 26px;
    right: 6px;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 4px;
      background-color: var(--color-primary);
      right: 4px;
      top: 50%;
      translate: 0 -50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 4px;
      background-color: var(--color-primary);
      rotate: 90deg;
      right: 4px;
      top: 50%;
      translate: 0 -50%; 
    }
  }
}
